In [210]:

import pandas as pd
import numpy as np 
import geopandas as gpd
import folium
from shapely.geometry import Point, Polygon, LineString

In [211]:
df_2 = gpd.read_file('C:/Users/ParkMJ/Desktop/df_drop.geojson')

In [212]:
df_yuseng = pd.read_csv('C:/Users/ParkMJ/Desktop/유성구_조명등.csv',encoding='cp949')
df_daedeok = pd.read_csv('C:/Users/ParkMJ/Desktop/대덕구조명등.csv',encoding='cp949')
df_joong = pd.read_csv('C:/Users/ParkMJ/Desktop/중구조명등.csv',encoding='cp949')
df_seogu = pd.read_csv('C:/Users/ParkMJ/Desktop/서구 도시공원 조명시설 현황.csv',encoding='cp949')
df_dong = pd.read_csv('C:/Users/ParkMJ/Desktop/대전 동구 공원조명 설치현황.csv',encoding='cp949')

In [213]:
print(df_yuseng.shape[0],df_daedeok.shape[0],df_joong.shape[0],df_seogu.shape[0],df_dong.shape[0])
print(sum((df_yuseng.shape[0],df_daedeok.shape[0],df_joong.shape[0],df_seogu.shape[0],df_dong.shape[0])))

135 62 40 91 36
364

In [214]:
df_light = pd.concat([df_dong,df_seogu,df_joong,df_daedeok,df_yuseng])

In [215]:
df_light['park_num'].unique().shape

(363,)

In [216]:
df_light['park_num'].value_counts()

30170-00062    2
30170-00068    1
30140-00034    1
30230-00040    1
30110-00018    1
              ..
30200-00007    1
30140-00039    1
30200-00076    1
30140-00017    1
30200-00043    1
Name: park_num, Length: 363, dtype: int64

In [217]:
park_list = list(df_2['num'].unique())

In [218]:
len(park_list)

405

In [219]:
notexist_list = []
for i in park_list:
    if len(df_light[df_light['park_num']==i]) <1:
        notexist_list.append(i)

In [220]:
not_df = pd.DataFrame(notexist_list)
not_df.columns=['num']

In [221]:
not_data = pd.merge(not_df,df_2,how='inner',on='num')
not_data.to_csv('C:/Users/ParkMJ/Desktop/not_data.csv',encoding='cp949')

In [222]:
len(notexist_list)

45

In [223]:
df_2['num'].value_counts()

30170-00062    2
30170-00068    1
30170-00076    1
30200-00056    1
30230-00081    1
              ..
30170-00051    1
30170-00094    1
30200-00125    1
30200-00073    1
30140-00009    1
Name: num, Length: 405, dtype: int64

In [224]:
df_light = df_light.reset_index()

In [225]:
df_2['park_num'] = df_2['num']

In [226]:
df_park = pd.merge(df_2,df_light,how='inner',on='park_num')

In [227]:
df_park

,index_x,num,name,type,r_address,l_address,lat,lon,p_area,e_facility,...,p_date,m_agency,p_num,s_date,prov_code,prov_name,geometry,park_num,index_y,count
0,0,30110-00033,낭월7호공원,어린이공원,None,대전광역시 동구 낭월동 492,36.278667,127.464941,5287.9,"스트레칭롤라, 롤링웨이스트, 트윈트위스트, 풀웨이트, 크로스컨트리",...,2004-04-29,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,POINT (127.46494 36.27867),30110-00033,20,10
1,1,30110-00034,낭월8호공원,어린이공원,None,대전광역시 동구 낭월동 642,36.278374,127.470149,2078.0,"크로스컨트리, 풀웨이트, 트위스트",...,2004-04-29,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,POINT (127.47015 36.27837),30110-00034,21,5
2,2,30110-00048,동광공원,어린이공원,None,대전광역시 동구 자양동 94-6,36.336528,127.449200,1664.3,"트윈바디싯업, 스트레칭롤라, 롤링웨이스트, 트윈트위스트, 크로스컨트리, 체어웨이트",...,2007-11-14,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,POINT (127.44920 36.33653),30110-00048,22,4
3,3,30110-00057,구도공원,근린공원,None,대전광역시 동구 구도동 388,36.269460,127.469211,39056.8,"워밍쇼울더, 에어서핑, 체어웨이트",...,2009-01-09,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,POINT (127.46921 36.26946),30110-00057,31,10
4,4,30110-00058,옥토끼공원,어린이공원,None,대전광역시 동구 낭월동 810,36.275251,127.467223,1501.5,"레그프레스, 워밍암, 스텝사이클, 롤링웨이스트, 체어풀",...,2009-01-09,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,POINT (127.46722 36.27525),30110-00058,23,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,493,30230-00002,쌍 청,근린공원,대전광역시 대덕구 쌍청당로 25 (중리동),대전광역시 대덕구 중리동101-1,36.364280,127.434303,17713.0,야외운동기구,...,1984-08-20,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,POINT (127.43430 36.36428),30230-00002,24,36
359,494,30230-00003,안 산,근린공원,대전광역시 대덕구 계족로663번길25(법동),대전광역시 대덕구 법동284-2,36.368222,127.427187,13520.0,"평행봉,철봉",...,1984-08-20,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,POINT (127.42719 36.36822),30230-00003,37,13
360,495,30230-00004,문 평,근린공원,None,대전광역시 대덕구 문평동42-4,36.443003,127.397914,10001.0,"평행봉,철봉",...,1990-07-04,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,POINT (127.39791 36.44300),30230-00004,58,11
361,496,30230-00005,새 일,근린공원,대전광역시 대덕구 문평동로18번길21(문평동),대전광역시 대덕구 문평동78-5,36.448043,127.403052,10115.0,"평행봉,철봉",...,1990-07-04,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,POINT (127.40305 36.44804),30230-00005,57,14
362,497,30230-00006,응 봉,근린공원,None,대전광역시 대덕구 법동441-2,36.370704,127.433586,11531.0,"평행봉,야외운동기구",...,1998-06-13,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,POINT (127.43359 36.37070),30230-00006,41,12

In [228]:
df_park.to_csv('C:/Users/ParkMJ/Desktop/park_light.csv',encoding='cp949')
df_park.to_file('C:/Users/ParkMJ/Desktop/park_light.geojson',driver='GeoJSON')

In [229]:
df2 = gpd.read_file('C:/Users/ParkMJ/Desktop/park2.geojson')
df3 = gpd.read_file('C:/Users/ParkMJ/Desktop/park3_ing4.geojson')
df1 = gpd.read_file('C:/Users/ParkMJ/Desktop/park1_end.geojson')

In [230]:
df_polygon = pd.concat([df1,df2,df3])

In [231]:
df_park

,index_x,num,name,type,r_address,l_address,lat,lon,p_area,e_facility,...,p_date,m_agency,p_num,s_date,prov_code,prov_name,geometry,park_num,index_y,count
0,0,30110-00033,낭월7호공원,어린이공원,None,대전광역시 동구 낭월동 492,36.278667,127.464941,5287.9,"스트레칭롤라, 롤링웨이스트, 트윈트위스트, 풀웨이트, 크로스컨트리",...,2004-04-29,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,POINT (127.46494 36.27867),30110-00033,20,10
1,1,30110-00034,낭월8호공원,어린이공원,None,대전광역시 동구 낭월동 642,36.278374,127.470149,2078.0,"크로스컨트리, 풀웨이트, 트위스트",...,2004-04-29,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,POINT (127.47015 36.27837),30110-00034,21,5
2,2,30110-00048,동광공원,어린이공원,None,대전광역시 동구 자양동 94-6,36.336528,127.449200,1664.3,"트윈바디싯업, 스트레칭롤라, 롤링웨이스트, 트윈트위스트, 크로스컨트리, 체어웨이트",...,2007-11-14,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,POINT (127.44920 36.33653),30110-00048,22,4
3,3,30110-00057,구도공원,근린공원,None,대전광역시 동구 구도동 388,36.269460,127.469211,39056.8,"워밍쇼울더, 에어서핑, 체어웨이트",...,2009-01-09,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,POINT (127.46921 36.26946),30110-00057,31,10
4,4,30110-00058,옥토끼공원,어린이공원,None,대전광역시 동구 낭월동 810,36.275251,127.467223,1501.5,"레그프레스, 워밍암, 스텝사이클, 롤링웨이스트, 체어풀",...,2009-01-09,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,POINT (127.46722 36.27525),30110-00058,23,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,493,30230-00002,쌍 청,근린공원,대전광역시 대덕구 쌍청당로 25 (중리동),대전광역시 대덕구 중리동101-1,36.364280,127.434303,17713.0,야외운동기구,...,1984-08-20,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,POINT (127.43430 36.36428),30230-00002,24,36
359,494,30230-00003,안 산,근린공원,대전광역시 대덕구 계족로663번길25(법동),대전광역시 대덕구 법동284-2,36.368222,127.427187,13520.0,"평행봉,철봉",...,1984-08-20,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,POINT (127.42719 36.36822),30230-00003,37,13
360,495,30230-00004,문 평,근린공원,None,대전광역시 대덕구 문평동42-4,36.443003,127.397914,10001.0,"평행봉,철봉",...,1990-07-04,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,POINT (127.39791 36.44300),30230-00004,58,11
361,496,30230-00005,새 일,근린공원,대전광역시 대덕구 문평동로18번길21(문평동),대전광역시 대덕구 문평동78-5,36.448043,127.403052,10115.0,"평행봉,철봉",...,1990-07-04,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,POINT (127.40305 36.44804),30230-00005,57,14
362,497,30230-00006,응 봉,근린공원,None,대전광역시 대덕구 법동441-2,36.370704,127.433586,11531.0,"평행봉,야외운동기구",...,1998-06-13,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,POINT (127.43359 36.37070),30230-00006,41,12

In [232]:
df_parkpolygon = pd.merge(df_park, df_polygon,how='inner',on='park_num')

In [233]:
df_parkpolygon = df_parkpolygon.drop("geometry_x", axis=1)

In [234]:
df_parkpolygon['geometry'] = df_parkpolygon['geometry_y']
df_parkpolygon = df_parkpolygon.drop("geometry_y", axis=1)

In [235]:
df_parkpolygon

,index_x,num,name,type,r_address,l_address,lat,lon,p_area,e_facility,...,m_agency,p_num,s_date,prov_code,prov_name,park_num,index_y,count,id,geometry
0,0,30110-00033,낭월7호공원,어린이공원,None,대전광역시 동구 낭월동 492,36.278667,127.464941,5287.9,"스트레칭롤라, 롤링웨이스트, 트윈트위스트, 풀웨이트, 크로스컨트리",...,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,30110-00033,20,10,None,"MULTIPOLYGON (((127.46436 36.27892, 127.46444 ..."
1,1,30110-00034,낭월8호공원,어린이공원,None,대전광역시 동구 낭월동 642,36.278374,127.470149,2078.0,"크로스컨트리, 풀웨이트, 트위스트",...,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,30110-00034,21,5,None,"MULTIPOLYGON (((127.46972 36.27858, 127.46983 ..."
2,2,30110-00048,동광공원,어린이공원,None,대전광역시 동구 자양동 94-6,36.336528,127.449200,1664.3,"트윈바디싯업, 스트레칭롤라, 롤링웨이스트, 트윈트위스트, 크로스컨트리, 체어웨이트",...,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,30110-00048,22,4,None,"MULTIPOLYGON (((127.44913 36.33669, 127.44898 ..."
3,3,30110-00057,구도공원,근린공원,None,대전광역시 동구 구도동 388,36.269460,127.469211,39056.8,"워밍쇼울더, 에어서핑, 체어웨이트",...,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,30110-00057,31,10,None,"MULTIPOLYGON (((127.46629 36.27138, 127.46668 ..."
4,4,30110-00058,옥토끼공원,어린이공원,None,대전광역시 동구 낭월동 810,36.275251,127.467223,1501.5,"레그프레스, 워밍암, 스텝사이클, 롤링웨이스트, 체어풀",...,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,30110-00058,23,5,None,"MULTIPOLYGON (((127.46718 36.27546, 127.46704 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,493,30230-00002,쌍 청,근린공원,대전광역시 대덕구 쌍청당로 25 (중리동),대전광역시 대덕구 중리동101-1,36.364280,127.434303,17713.0,야외운동기구,...,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,30230-00002,24,36,None,"MULTIPOLYGON (((127.43272 36.36486, 127.43440 ..."
354,494,30230-00003,안 산,근린공원,대전광역시 대덕구 계족로663번길25(법동),대전광역시 대덕구 법동284-2,36.368222,127.427187,13520.0,"평행봉,철봉",...,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,30230-00003,37,13,None,"MULTIPOLYGON (((127.42649 36.36802, 127.42766 ..."
355,495,30230-00004,문 평,근린공원,None,대전광역시 대덕구 문평동42-4,36.443003,127.397914,10001.0,"평행봉,철봉",...,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,30230-00004,58,11,None,"MULTIPOLYGON (((127.39711 36.44310, 127.39788 ..."
356,496,30230-00005,새 일,근린공원,대전광역시 대덕구 문평동로18번길21(문평동),대전광역시 대덕구 문평동78-5,36.448043,127.403052,10115.0,"평행봉,철봉",...,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,30230-00005,57,14,None,"MULTIPOLYGON (((127.40231 36.44704, 127.40300 ..."
357,497,30230-00006,응 봉,근린공원,None,대전광역시 대덕구 법동441-2,36.370704,127.433586,11531.0,"평행봉,야외운동기구",...,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,30230-00006,41,12,None,"MULTIPOLYGON (((127.43267 36.37124, 127.43274 ..."

In [236]:
df_parkpolygon.to_file('C:/Users/ParkMJ/Desktop/df_parkpolygon.geojson',driver='GeoJSON')

In [237]:
park_list = list(df_2['num'].unique())

In [238]:
notexist_list = []
for i in park_list:
    if len(df_parkpolygon[df_parkpolygon['park_num']==i]) <1:
        notexist_list.append(i)

In [239]:
notexist_list

['30110-00094',
 '30110-00095',
 '30110-00096',
 '30140-00036',
 '30140-00037',
 '30140-00038',
 '30140-00040',
 '30140-00041',
 '30140-00042',
 '30140-00043',
 '30140-00001',
 '30140-00003',
 '30170-00066',
 '30170-00094',
 '30170-00095',
 '30170-00101',
 '30170-00106',
 '30170-00107',
 '30170-00014',
 '30170-00020',
 '30170-00027',
 '30170-00048',
 '30200-00007',
 '30200-00012',
 '30200-00040',
 '30200-00026',
 '30200-00144',
 '30200-00139',
 '30200-00137',
 '30200-00135',
 '30200-00122',
 '30200-00117',
 '30200-00115',
 '30200-00112',
 '30200-00111',
 '30200-00110',
 '30200-00109',
 '30200-00108',
 '30200-00107',
 '30230-00059',
 '30230-00060',
 '30230-00063',
 '30230-00064',
 '30230-00065',
 '30230-00066',
 '30230-00067',
 '30230-00068',
 '30230-00069',
 '30230-00070',
 '30230-00072',
 '30230-00073',
 '30230-00078',
 '30230-00079',
 '30230-00080',
 '30230-00081',
 '30230-00082',
 '30230-00044',
 '30230-00054',
 '30230-00008',
 '30230-00010',
 '30230-00011',
 '30230-00023']

In [240]:
not_df = pd.DataFrame(notexist_list)
not_df.columns=['num']
not_data = pd.merge(not_df,df_2,how='inner',on='num')
not_data.to_csv('C:/Users/ParkMJ/Desktop/final_not.csv',encoding='cp949')

In [241]:
df_parkpolygon

,index_x,num,name,type,r_address,l_address,lat,lon,p_area,e_facility,...,m_agency,p_num,s_date,prov_code,prov_name,park_num,index_y,count,id,geometry
0,0,30110-00033,낭월7호공원,어린이공원,None,대전광역시 동구 낭월동 492,36.278667,127.464941,5287.9,"스트레칭롤라, 롤링웨이스트, 트윈트위스트, 풀웨이트, 크로스컨트리",...,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,30110-00033,20,10,None,"MULTIPOLYGON (((127.46436 36.27892, 127.46444 ..."
1,1,30110-00034,낭월8호공원,어린이공원,None,대전광역시 동구 낭월동 642,36.278374,127.470149,2078.0,"크로스컨트리, 풀웨이트, 트위스트",...,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,30110-00034,21,5,None,"MULTIPOLYGON (((127.46972 36.27858, 127.46983 ..."
2,2,30110-00048,동광공원,어린이공원,None,대전광역시 동구 자양동 94-6,36.336528,127.449200,1664.3,"트윈바디싯업, 스트레칭롤라, 롤링웨이스트, 트윈트위스트, 크로스컨트리, 체어웨이트",...,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,30110-00048,22,4,None,"MULTIPOLYGON (((127.44913 36.33669, 127.44898 ..."
3,3,30110-00057,구도공원,근린공원,None,대전광역시 동구 구도동 388,36.269460,127.469211,39056.8,"워밍쇼울더, 에어서핑, 체어웨이트",...,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,30110-00057,31,10,None,"MULTIPOLYGON (((127.46629 36.27138, 127.46668 ..."
4,4,30110-00058,옥토끼공원,어린이공원,None,대전광역시 동구 낭월동 810,36.275251,127.467223,1501.5,"레그프레스, 워밍암, 스텝사이클, 롤링웨이스트, 체어풀",...,대전광역시 동구청,042-251-4755,2019-09-23,3640000,대전광역시 동구,30110-00058,23,5,None,"MULTIPOLYGON (((127.46718 36.27546, 127.46704 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,493,30230-00002,쌍 청,근린공원,대전광역시 대덕구 쌍청당로 25 (중리동),대전광역시 대덕구 중리동101-1,36.364280,127.434303,17713.0,야외운동기구,...,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,30230-00002,24,36,None,"MULTIPOLYGON (((127.43272 36.36486, 127.43440 ..."
354,494,30230-00003,안 산,근린공원,대전광역시 대덕구 계족로663번길25(법동),대전광역시 대덕구 법동284-2,36.368222,127.427187,13520.0,"평행봉,철봉",...,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,30230-00003,37,13,None,"MULTIPOLYGON (((127.42649 36.36802, 127.42766 ..."
355,495,30230-00004,문 평,근린공원,None,대전광역시 대덕구 문평동42-4,36.443003,127.397914,10001.0,"평행봉,철봉",...,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,30230-00004,58,11,None,"MULTIPOLYGON (((127.39711 36.44310, 127.39788 ..."
356,496,30230-00005,새 일,근린공원,대전광역시 대덕구 문평동로18번길21(문평동),대전광역시 대덕구 문평동78-5,36.448043,127.403052,10115.0,"평행봉,철봉",...,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,30230-00005,57,14,None,"MULTIPOLYGON (((127.40231 36.44704, 127.40300 ..."
357,497,30230-00006,응 봉,근린공원,None,대전광역시 대덕구 법동441-2,36.370704,127.433586,11531.0,"평행봉,야외운동기구",...,대전광역시 대덕구청,042-608-5134,2020-04-16,3680000,대전광역시 대덕구,30230-00006,41,12,None,"MULTIPOLYGON (((127.43267 36.37124, 127.43274 ..."

In [242]:
df_parkpolygon['p_area'].quantile(0.1)

1500.0

In [243]:
df_parkpolygon['area_score'] = None
for i in range(len(df_parkpolygon)):
    if df_parkpolygon['p_area'][i] < df_parkpolygon['p_area'].quantile(0.1):
        df_parkpolygon['area_score'][i] = 2
    elif df_parkpolygon['p_area'][i] < df_parkpolygon['p_area'].quantile(0.2):
        df_parkpolygon['area_score'][i] = 4
    elif df_parkpolygon['p_area'][i] < df_parkpolygon['p_area'].quantile(0.3):
        df_parkpolygon['area_score'][i] = 6
    elif df_parkpolygon['p_area'][i] < df_parkpolygon['p_area'].quantile(0.4):
        df_parkpolygon['area_score'][i] = 8
    elif df_parkpolygon['p_area'][i] < df_parkpolygon['p_area'].quantile(0.5):
        df_parkpolygon['area_score'][i] = 10
    elif df_parkpolygon['p_area'][i] < df_parkpolygon['p_area'].quantile(0.6):
        df_parkpolygon['area_score'][i] = 12
    elif df_parkpolygon['p_area'][i] < df_parkpolygon['p_area'].quantile(0.7):
        df_parkpolygon['area_score'][i] = 14
    elif df_parkpolygon['p_area'][i] < df_parkpolygon['p_area'].quantile(0.8):
        df_parkpolygon['area_score'][i] = 16
    elif df_parkpolygon['p_area'][i] < df_parkpolygon['p_area'].quantile(0.9):
        df_parkpolygon['area_score'][i] = 18
    else:
        df_parkpolygon['area_score'][i] = 20

<ipython-input-243-08df7c212ab6>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_parkpolygon['area_score'][i] = 16
<ipython-input-243-08df7c212ab6>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_parkpolygon['area_score'][i] = 10
<ipython-input-243-08df7c212ab6>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_parkpolygon['area_score'][i] = 8
<ipython-input-243-08df7c212ab6>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_parkpolygon['area_score'][i] = 20
<ipython-input-243-08df7c212ab6>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_parkpolygon['area_score'][i] = 4
<ipython-input-243-08df7c212ab6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_parkpolygon['area_score'][i] = 2
<ipython-input-243-08df7c212ab6>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_parkpolygon['area_score'][i] = 14
<ipython-input-243-08df7c212ab6>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_parkpolygon['area_score'][i] = 18
<ipython-input-243-08df7c212ab6>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_parkpolygon['area_score'][i] = 12
<ipython-input-243-08df7c212ab6>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_parkpolygon['area_score'][i] = 6

In [244]:
area_score = df_parkpolygon[['num','name','p_area','area_score']]
area_score.to_csv('C:/Users/ParkMJ/Desktop/area_score.csv',encoding='cp949')

In [245]:
df_market = pd.read_csv('C:/Users/ParkMJ/Desktop/상권정보.csv',encoding='cp949')

C:\Users\ParkMJ\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [246]:
df_market['geometry'] = df_market.apply(lambda row : Point([row['경도'], row['위도']]), axis=1)

In [247]:
df_market = gpd.GeoDataFrame(df_market)#,geometry='geometry')
df_market.to_file('C:/Users/ParkMJ/Desktop/df_market.geojson',driver='GeoJSON')

PermissionError: [WinError 32] 다른 프로세스가 파일을 사용 중이기 때문에 프로세스가 액세스 할 수 없습니다: 'C:/Users/ParkMJ/Desktop/df_market.geojson'

In [ ]:
df_250 = gpd.read_file('C:/Users/ParkMJ/Documents/250.geojson')
df_500 = gpd.read_file('C:/Users/ParkMJ/Documents/500.geojson')
df_1000 = gpd.read_file('C:/Users/ParkMJ/Documents/1000.geojson')

In [ ]:
df_cross = pd.concat([df_250,df_500,df_1000])

In [ ]:
df_cross = gpd.GeoDataFrame(df_cross)#,geometry='geometry')
df_cross.to_file('C:/Users/ParkMJ/Desktop/df_cross.geojson',driver='GeoJSON')

In [248]:
df_dong_parkpolygon = gpd.read_file('C:/Users/ParkMJ/Desktop/df_dong_parkpolygon.geojson')

In [249]:
df_dong_parkpolygon.to_csv('C:/Users/ParkMJ/Desktop/df_dong_parkpolygon.csv',encoding='cp949')

In [250]:
df_dong_parkpolygon['name'].value_counts()

하늘아래           9
신성공원           5
도안             4
금동             4
들말             4
              ..
대흥             1
도산             1
통매바위           1
새아름            1
덕명5(숲속공원)공원    1
Name: name, Length: 338, dtype: int64

In [251]:
df_undercstore = gpd.read_file('C:/Users/ParkMJ/Desktop/df_undercstore.geojson')

In [252]:
df_dong_parkpolygon['EMD_CD'][0][:5]

'30110'

In [253]:
df_dong_parkpolygon['SIG_CD']= df_dong_parkpolygon['EMD_CD'].apply(lambda x:x[:5])

In [254]:
df_undercstore

,SIG_CD,SIG_KOR_NM,NUMPOINTS,geometry
0,30200,유성구,351.0,"MULTIPOLYGON (((127.35375 36.33215, 127.35350 ..."
1,30140,중구,208.0,"MULTIPOLYGON (((127.45484 36.30162, 127.45484 ..."
2,30230,대덕구,148.0,"MULTIPOLYGON (((127.48139 36.47708, 127.48403 ..."
3,30110,동구,181.0,"MULTIPOLYGON (((127.49243 36.43937, 127.49152 ..."
4,30170,서구,445.0,"MULTIPOLYGON (((127.37014 36.28918, 127.37014 ..."

In [255]:
df_underc = pd.merge(df_dong_parkpolygon,df_undercstore,how='inner',on='SIG_CD')

In [256]:
df_underc

,index,num,name,type,r_address,l_address,lat,lon,p_area,e_facility,...,park_num,count,id,EMD_CD,EMD_KOR_NM,geometry_x,SIG_CD,SIG_KOR_NM,NUMPOINTS,geometry_y
0,0,30110-00033,낭월7호공원,어린이공원,None,대전광역시 동구 낭월동 492,36.278667,127.464941,5287.9,"스트레칭롤라, 롤링웨이스트, 트윈트위스트, 풀웨이트, 크로스컨트리",...,30110-00033,10,None,30110136,낭월동,"MULTIPOLYGON (((127.46436 36.27892, 127.46444 ...",30110,동구,181.0,"MULTIPOLYGON (((127.49243 36.43937, 127.49152 ..."
1,1,30110-00034,낭월8호공원,어린이공원,None,대전광역시 동구 낭월동 642,36.278374,127.470149,2078.0,"크로스컨트리, 풀웨이트, 트위스트",...,30110-00034,5,None,30110136,낭월동,"MULTIPOLYGON (((127.46972 36.27858, 127.47045 ...",30110,동구,181.0,"MULTIPOLYGON (((127.49243 36.43937, 127.49152 ..."
2,2,30110-00048,동광공원,어린이공원,None,대전광역시 동구 자양동 94-6,36.336528,127.449200,1664.3,"트윈바디싯업, 스트레칭롤라, 롤링웨이스트, 트윈트위스트, 크로스컨트리, 체어웨이트",...,30110-00048,4,None,30110111,자양동,"MULTIPOLYGON (((127.44913 36.33669, 127.44923 ...",30110,동구,181.0,"MULTIPOLYGON (((127.49243 36.43937, 127.49152 ..."
3,3,30110-00057,구도공원,근린공원,None,대전광역시 동구 구도동 388,36.269460,127.469211,39056.8,"워밍쇼울더, 에어서핑, 체어웨이트",...,30110-00057,10,None,30110142,구도동,"MULTIPOLYGON (((127.46629 36.27138, 127.46997 ...",30110,동구,181.0,"MULTIPOLYGON (((127.49243 36.43937, 127.49152 ..."
4,4,30110-00058,옥토끼공원,어린이공원,None,대전광역시 동구 낭월동 810,36.275251,127.467223,1501.5,"레그프레스, 워밍암, 스텝사이클, 롤링웨이스트, 체어풀",...,30110-00058,5,None,30110136,낭월동,"MULTIPOLYGON (((127.46718 36.27546, 127.46749 ...",30110,동구,181.0,"MULTIPOLYGON (((127.49243 36.43937, 127.49152 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,495,30230-00004,문 평,근린공원,None,대전광역시 대덕구 문평동42-4,36.443003,127.397914,10001.0,"평행봉,철봉",...,30230-00004,11,None,30230113,문평동,"MULTIPOLYGON (((127.39711 36.44310, 127.39788 ...",30230,대덕구,148.0,"MULTIPOLYGON (((127.48139 36.47708, 127.48403 ..."
384,496,30230-00005,새 일,근린공원,대전광역시 대덕구 문평동로18번길21(문평동),대전광역시 대덕구 문평동78-5,36.448043,127.403052,10115.0,"평행봉,철봉",...,30230-00005,14,None,30230113,문평동,"MULTIPOLYGON (((127.40231 36.44704, 127.40300 ...",30230,대덕구,148.0,"MULTIPOLYGON (((127.48139 36.47708, 127.48403 ..."
385,497,30230-00006,응 봉,근린공원,None,대전광역시 대덕구 법동441-2,36.370704,127.433586,11531.0,"평행봉,야외운동기구",...,30230-00006,12,None,30230103,읍내동,"MULTIPOLYGON (((127.42829 36.37592, 127.42816 ...",30230,대덕구,148.0,"MULTIPOLYGON (((127.48139 36.47708, 127.48403 ..."
386,497,30230-00006,응 봉,근린공원,None,대전광역시 대덕구 법동441-2,36.370704,127.433586,11531.0,"평행봉,야외운동기구",...,30230-00006,12,None,30230107,송촌동,"MULTIPOLYGON (((127.43895 36.37039, 127.44153 ...",30230,대덕구,148.0,"MULTIPOLYGON (((127.48139 36.47708, 127.48403 ..."
387,497,30230-00006,응 봉,근린공원,None,대전광역시 대덕구 법동441-2,36.370704,127.433586,11531.0,"평행봉,야외운동기구",...,30230-00006,12,None,30230108,법동,"MULTIPOLYGON (((127.43860 36.36998, 127.43705 ...",30230,대덕구,148.0,"MULTIPOLYGON (((127.48139 36.47708, 127.48403 ..."

In [257]:
df_upcstore = gpd.read_file('C:/Users/ParkMJ/Documents/df_upcstore.geojson')

In [258]:
df_sum_underc = pd.DataFrame(df_underc.groupby('park_num').sum()['NUMPOINTS']).reset_index()

In [259]:
df_sum_underc

        park_num  NUMPOINTS
0    30110-00003      181.0
1    30110-00004      181.0
2    30110-00005      181.0
3    30110-00006      181.0
4    30110-00007      181.0
..           ...        ...
338  30230-00071      148.0
339  30230-00074      148.0
340  30230-00075      296.0
341  30230-00076      148.0
342  30230-00077      148.0

[343 rows x 2 columns]

In [260]:
df_sum_upc = pd.DataFrame(df_upcstore.groupby('park_num').sum()['NUMPOINTS']).reset_index()

In [261]:
df_sum_upc

        park_num  NUMPOINTS
0    30110-00003        5.0
1    30110-00004        2.0
2    30110-00005        0.0
3    30110-00006        5.0
4    30110-00007        2.0
..           ...        ...
338  30230-00071       16.0
339  30230-00074       12.0
340  30230-00075       17.0
341  30230-00076       21.0
342  30230-00077       17.0

[343 rows x 2 columns]

In [262]:
#not_data = pd.merge(not_df,df_2,how='inner',on='num')
df_cstore_score = pd.merge(df_sum_upc,df_sum_underc, how='inner',on='park_num')
df_cstore_score['c_score'] = (df_cstore_score['NUMPOINTS_x']/df_cstore_score['NUMPOINTS_y'])*2.5
df_cstore_score

        park_num  NUMPOINTS_x  NUMPOINTS_y   c_score
0    30110-00003          5.0        181.0  0.069061
1    30110-00004          2.0        181.0  0.027624
2    30110-00005          0.0        181.0  0.000000
3    30110-00006          5.0        181.0  0.069061
4    30110-00007          2.0        181.0  0.027624
..           ...          ...          ...       ...
338  30230-00071         16.0        148.0  0.270270
339  30230-00074         12.0        148.0  0.202703
340  30230-00075         17.0        296.0  0.143581
341  30230-00076         21.0        148.0  0.354730
342  30230-00077         17.0        148.0  0.287162

[343 rows x 4 columns]

In [263]:
area_score['park_num'] = area_score['num']

<ipython-input-263-6e5bee01b3ba>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  area_score['park_num'] = area_score['num']

In [264]:
area_score

             num    name   p_area area_score     park_num
0    30110-00033  낭월7호공원   5287.9         16  30110-00033
1    30110-00034  낭월8호공원   2078.0         10  30110-00034
2    30110-00048    동광공원   1664.3          8  30110-00048
3    30110-00057    구도공원  39056.8         20  30110-00057
4    30110-00058   옥토끼공원   1501.5          4  30110-00058
..           ...     ...      ...        ...          ...
353  30230-00002   쌍   청  17713.0         18  30230-00002
354  30230-00003   안   산  13520.0         18  30230-00003
355  30230-00004   문   평  10001.0         16  30230-00004
356  30230-00005   새   일  10115.0         16  30230-00005
357  30230-00006   응   봉  11531.0         16  30230-00006

[358 rows x 5 columns]

In [271]:
score = pd.merge(area_score,df_cstore_score,how='inner',on='park_num')

In [272]:
score = pd.merge(area_score,df_cstore_score,how='inner',on='park_num')

score['num'].value_counts()

30170-00062    8
30170-00104    3
30200-00104    2
30200-00097    2
30170-00005    2
              ..
30200-00044    1
30230-00005    1
30230-00053    1
30170-00025    1
30110-00027    1
Name: num, Length: 343, dtype: int64

In [273]:
score = score[['park_num','name','area_score','c_score']]

In [274]:
df_cstore_score.to_csv('C:/Users/ParkMJ/Desktop/df_cstore_score.csv',encoding='cp949')
score.to_csv('C:/Users/ParkMJ/Desktop/df_score.csv',encoding='cp949')

In [275]:
df_upfood = gpd.read_file('C:/Users/ParkMJ/Documents/df_upfood.geojson')
df_sum_upf = pd.DataFrame(df_upfood.groupby('park_num').sum()['NUMPOINTS']).reset_index()
df_underfood = gpd.read_file('C:/Users/ParkMJ/Desktop/df_underfood.geojson')
df_underf = pd.merge(df_dong_parkpolygon,df_underfood,how='inner',on='SIG_CD')
df_sum_underf = pd.DataFrame(df_underf.groupby('park_num').sum()['NUMPOINTS']).reset_index()

df_food = pd.merge(df_sum_upf,df_sum_underf, how='inner',on='park_num')
df_food['f_score'] = (df_food['NUMPOINTS_x']/df_food['NUMPOINTS_y'])*2.5
score = pd.merge(score,df_food,how='inner',on='park_num')
score = score[['park_num','name','area_score','c_score','f_score']]

In [276]:
df_upcafe = gpd.read_file('C:/Users/ParkMJ/Documents/df_upcafe.geojson')
df_sum_upc = pd.DataFrame(df_upcafe.groupby('park_num').sum()['NUMPOINTS']).reset_index()
df_undercafe = gpd.read_file('C:/Users/ParkMJ/Desktop/df_undercafe.geojson')
df_underc = pd.merge(df_dong_parkpolygon,df_undercafe,how='inner',on='SIG_CD')
df_sum_underc = pd.DataFrame(df_underc.groupby('park_num').sum()['NUMPOINTS']).reset_index()

df_cafe = pd.merge(df_sum_upc,df_sum_underc, how='inner',on='park_num')
df_cafe['cafe_score'] = (df_cafe['NUMPOINTS_x']/df_cafe['NUMPOINTS_y'])*2.5
score = pd.merge(score,df_cafe,how='inner',on='park_num')
score = score[['park_num','name','area_score','c_score','f_score','cafe_score']]

In [277]:
df_uptoilet = gpd.read_file('C:/Users/ParkMJ/Documents/df_uptoilet.geojson')
df_sum_upt = pd.DataFrame(df_uptoilet.groupby('park_num').sum()['NUMPOINTS']).reset_index()
df_undertoilet = gpd.read_file('C:/Users/ParkMJ/Desktop/df_undertoilet.geojson')
df_undert = pd.merge(df_dong_parkpolygon,df_undertoilet,how='inner',on='SIG_CD')
df_sum_undert = pd.DataFrame(df_undert.groupby('park_num').sum()['NUMPOINTS']).reset_index()

df_toilet = pd.merge(df_sum_upt,df_sum_undert, how='inner',on='park_num')
df_toilet['t_score'] = (df_toilet['NUMPOINTS_x']/df_toilet['NUMPOINTS_y'])*2.5
score = pd.merge(score,df_toilet,how='inner',on='park_num')
score = score[['park_num','name','area_score','c_score','f_score','cafe_score','t_score']]

In [278]:
df_toilet

        park_num  NUMPOINTS_x  NUMPOINTS_y   t_score
0    30110-00003          0.0         49.0  0.000000
1    30110-00004          1.0         49.0  0.051020
2    30110-00005          1.0         49.0  0.051020
3    30110-00006          0.0         49.0  0.000000
4    30110-00007          1.0         49.0  0.051020
..           ...          ...          ...       ...
338  30230-00071         17.0         72.0  0.590278
339  30230-00074          3.0         72.0  0.104167
340  30230-00075         14.0        144.0  0.243056
341  30230-00076          5.0         72.0  0.173611
342  30230-00077          6.0         72.0  0.208333

[343 rows x 4 columns]

In [279]:
df_up_tashu = gpd.read_file('C:/Users/ParkMJ/Documents/df_tashu_num.geojson')

In [280]:
df_sum_tashu = pd.DataFrame(df_up_tashu.groupby('park_num').sum()['NUMPOINTS']).reset_index()

In [281]:
df_sum_tashu['tashu_score'] = None
for i in range(len(df_sum_tashu)):
    if df_sum_tashu['NUMPOINTS'][i] == 0:
        df_sum_tashu['tashu_score'][i] = 0
    elif df_sum_tashu['NUMPOINTS'][i] == 1:
        df_sum_tashu['tashu_score'][i] = 1
    else :
        df_sum_tashu['tashu_score'][i] = 2

<ipython-input-281-09e8ee195d75>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sum_tashu['tashu_score'][i] = 0
<ipython-input-281-09e8ee195d75>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sum_tashu['tashu_score'][i] = 2
<ipython-input-281-09e8ee195d75>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sum_tashu['tashu_score'][i] = 1

In [282]:
df_sum_tashu

        park_num  NUMPOINTS tashu_score
0    30110-00003        0.0           0
1    30110-00004        0.0           0
2    30110-00005        0.0           0
3    30110-00006        0.0           0
4    30110-00007        0.0           0
..           ...        ...         ...
338  30230-00071        7.0           2
339  30230-00074        2.0           2
340  30230-00075        7.0           2
341  30230-00076        5.0           2
342  30230-00077        2.0           2

[343 rows x 3 columns]

In [283]:
score = pd.merge(score,df_sum_tashu,how='inner',on='park_num')
score = score[['park_num','name','area_score','c_score','f_score','cafe_score','t_score','tashu_score']]

In [284]:
score

,park_num,name,area_score,c_score,f_score,cafe_score,t_score,tashu_score
0,30110-00033,낭월7호공원,16,0.027624,0.015995,0.000000,0.051020,0
1,30110-00034,낭월8호공원,10,0.041436,0.015995,0.000000,0.000000,0
2,30110-00048,동광공원,8,0.165746,0.060781,0.060852,0.000000,1
3,30110-00057,구도공원,20,0.110497,0.050384,0.035497,0.153061,0
4,30110-00058,옥토끼공원,4,0.027624,0.018394,0.025355,0.000000,0
...,...,...,...,...,...,...,...,...
353,30230-00002,쌍 청,18,0.371622,0.659848,0.600282,0.486111,2
354,30230-00003,안 산,18,0.270270,0.450261,0.310734,0.416667,2
355,30230-00004,문 평,16,0.152027,0.014039,0.021186,0.069444,2
356,30230-00005,새 일,16,0.270270,0.120337,0.056497,0.243056,2
357,30230-00006,응 봉,16,0.084459,0.184851,0.157721,0.231481,2

In [285]:
score['convenience_score']=score['c_score']/2.5
score['food_score']=score['f_score']/2.5
score['cafe_score']=score['cafe_score']/2.5
score['toilet_score']=score['t_score']/2.5

score = score[['park_num','name','area_score','convenience_score','food_score','cafe_score','toilet_score','tashu_score']]

In [286]:
df_parkpolygon['light_score'] =(df_parkpolygon['count']*72)/df_parkpolygon['p_area']
df_parkpolygon = df_parkpolygon[['park_num','count','light_score']]
score = pd.merge(score,df_parkpolygon,how='inner',on='park_num')
#score = score[['park_num','name','area_score','convenience_score','food_score','cafe_score','toilet_score','tashu_score','light_score']]

In [299]:
check_score= lambda x: 'pass' if x>=60 else 'fail'
score['light_score'] = score['light_score'].apply(lambda x:1  if x>1 else x)
score.to_csv('C:/Users/ParkMJ/Desktop/score.csv',encoding='cp949')

In [291]:
57*72

4104

In [301]:
df_policecross = gpd.read_file('C:/Users/ParkMJ/Desktop/df_policecross.geojson')

In [336]:
df_pc = pd.DataFrame(df_policecross['park_num'].value_counts()).reset_index()
df_pc.columns=[['park_num','cross_count']]
list(df_pc[['park_num']])

[('park_num',)]

In [345]:
df_pc = pd.DataFrame(df_policecross.groupby('park_num').size()).reset_index()
#df_pc.columns =  [['park_num','cross_count']]
df_pc['park_num']

0      30110-00003
1      30110-00004
2      30110-00005
3      30110-00006
4      30110-00007
          ...
174    30230-00062
175    30230-00071
176    30230-00075
177    30230-00076
178    30230-00077
Name: park_num, Length: 179, dtype: object

In [374]:
df_pc_result = pd.merge(df_parkpolygon,df_pc,how='inner',on='park_num')
df_pc_result

        park_num  light_score    0
0    30110-00033     0.136160   22
1    30110-00034     0.173244   16
2    30110-00048     0.173046   31
3    30110-00057     0.018435   24
4    30110-00058     0.239760    2
..           ...          ...  ...
188  30230-00001     0.062779   90
189  30230-00002     0.146333  119
190  30230-00003     0.069231  130
191  30230-00005     0.099654   45
192  30230-00006     0.074928  223

[193 rows x 3 columns]

In [354]:
df_pc_result = pd.merge(df_parkpolygon,df_pc,how='outer',on='park_num')
df_pc_result.columns= ['park_num','light_score','police']
df_pc_result

        park_num  light_score  police
0    30110-00033     0.136160    22.0
1    30110-00034     0.173244    16.0
2    30110-00048     0.173046    31.0
3    30110-00057     0.018435    24.0
4    30110-00058     0.239760     2.0
..           ...          ...     ...
353  30230-00002     0.146333   119.0
354  30230-00003     0.069231   130.0
355  30230-00004     0.079192     NaN
356  30230-00005     0.099654    45.0
357  30230-00006     0.074928   223.0

[358 rows x 3 columns]

In [358]:
df_pc_result['police_score'] = None
for i in range(len(df_pc_result)):
    if df_pc_result['police'][i] <= df_pc_result['police'].quantile(0.25):
        df_pc_result['police_score'][i] = 1
    elif df_pc_result['police'][i] <= df_pc_result['police'].quantile(0.5):
        df_pc_result['police_score'][i] = 2    
    elif df_pc_result['police'][i] <= df_pc_result['police'].quantile(0.75):
        df_pc_result['police_score'][i] = 3        
    elif df_pc_result['police'][i] <= df_pc_result['police'].quantile(1):
        df_pc_result['police_score'][i] = 4
    else:
        df_pc_result['police_score'][i]=0

<ipython-input-358-476d63ec94b0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pc_result['police_score'][i] = 2
<ipython-input-358-476d63ec94b0>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pc_result['police_score'][i] = 3
<ipython-input-358-476d63ec94b0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pc_result['police_score'][i] = 1
<ipython-input-358-476d63ec94b0>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pc_result['police_score'][i]=0
<ipython-input-358-476d63ec94b0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pc_result['police_score'][i] = 4

In [359]:
df_pc_result[df_pc_result['police_score']<1]

        park_num  light_score  police police_score
5    30110-00059     0.234413     NaN            0
6    30110-00060     0.232108     NaN            0
7    30110-00076     0.046965     NaN            0
9    30110-00097     0.146725     NaN            0
16   30110-00009     0.257806     NaN            0
..           ...          ...     ...          ...
344  30230-00025     0.047682     NaN            0
345  30230-00026     0.185926     NaN            0
346  30230-00027     0.229153     NaN            0
348  30230-00029     0.192513     NaN            0
355  30230-00004     0.079192     NaN            0

[165 rows x 4 columns]

In [369]:
df_pc_result

        park_num  light_score  police police_score
0    30110-00033     0.136160    22.0            2
1    30110-00034     0.173244    16.0            2
2    30110-00048     0.173046    31.0            3
3    30110-00057     0.018435    24.0            2
4    30110-00058     0.239760     2.0            1
..           ...          ...     ...          ...
353  30230-00002     0.146333   119.0            4
354  30230-00003     0.069231   130.0            4
355  30230-00004     0.079192     NaN            0
356  30230-00005     0.099654    45.0            3
357  30230-00006     0.074928   223.0            4

[358 rows x 4 columns]

In [373]:
score = score.drop_duplicates('park_num')
score.to_csv('C:/Users/ParkMJ/Desktop/score.csv',encoding='cp949')

In [366]:
len(score['park_num'].unique())

343

In [368]:
score = pd.merge(score,df_pc_result,how='left',on='park_num')
len(score['park_num'].unique())

343

In [376]:
df_population = gpd.read_file('C:/Users/ParkMJ/Documents/df_population.geojson')

In [390]:
df_population_cross = pd.DataFrame(df_population.groupby('num').sum()['val']).reset_index()
df_population_cross.columns = ['park_num','val']

In [396]:
df_population_cross

        park_num      val
0    30110-00003   7506.0
1    30110-00004   9517.0
2    30110-00005  11417.0
3    30110-00006  16984.0
4    30110-00007  10014.0
..           ...      ...
395  30230-00078     49.0
396  30230-00079   2809.0
397  30230-00080   4349.0
398  30230-00081     12.0
399  30230-00082    271.0

[400 rows x 2 columns]

In [400]:
df_abc = df_2[['num','m_agency']]
df_abc.columns = ['park_num','m_agency']

In [403]:
df_popu = pd.merge(df_parkpolygon,df_population_cross,how='left',on='park_num')
popu_result = pd.merge(df_popu,df_abc,how='left',on='park_num')
popu_result['구'] = popu_result['m_agency'].apply(lambda x:x.split(' ')[1][:2])
popu_result

        park_num  light_score      val    m_agency   구
0    30110-00033     0.136160   5369.0   대전광역시 동구청  동구
1    30110-00034     0.173244   6724.0   대전광역시 동구청  동구
2    30110-00048     0.173046   8684.0   대전광역시 동구청  동구
3    30110-00057     0.018435     19.0   대전광역시 동구청  동구
4    30110-00058     0.239760   4297.0   대전광역시 동구청  동구
..           ...          ...      ...         ...  ..
361  30230-00002     0.146333  11709.0  대전광역시 대덕구청  대덕
362  30230-00003     0.069231  15929.0  대전광역시 대덕구청  대덕
363  30230-00004     0.079192      0.0  대전광역시 대덕구청  대덕
364  30230-00005     0.099654     22.0  대전광역시 대덕구청  대덕
365  30230-00006     0.074928  16587.0  대전광역시 대덕구청  대덕

[366 rows x 5 columns]

In [381]:
popu = gpd.read_file('C:/Users/ParkMJ/Desktop/[대전]COMPAS공개데이터/12.대전광역시_인구정보(총인구).geojson')

In [383]:
popu['val'].sum()

1462724.0

In [408]:
df_ad = pd.read_csv('C:/Users/ParkMJ/Desktop/대전행정구역.csv',encoding='cp949')
df_ad['인구'] = df_ad['인구'].apply(lambda x:x.replace(',',''))
df_ad['인구'] = df_ad['인구'].astype(int)
df_ad_groupby = pd.DataFrame(df_ad.groupby('구').sum()['인구']).reset_index()

In [409]:
df_ad_groupby['구'] = df_ad_groupby['구'].apply(lambda x:x[:2])

In [410]:
df_ad_groupby

    구      인구
0  대덕  206246
1  동구  252498
2  서구  497186
3  유성  346445
4  중구  264584

In [412]:
po_result = pd.merge(popu_result,df_ad_groupby,how='left',on='구')
po_result['population_score'] = po_result['val']/po_result['인구']

In [416]:
len(po_result['park_num'].unique())

343

In [417]:
po_result.to_csv('C:/Users/ParkMJ/Desktop/df_population.csv',encoding='cp949')